<?xml version="1.0"?>
<appSettings>
  <!-- Web Applications Urls-->

  <!-- Connection Strings-->
  <add key="DBConnection" value="" />
  
  <!-- Web Services Urls -->
  <add key="" value="" />

  <!-- Email Settings -->
  <add key="EmailFrom" value="" />
  <add key="EmailFromPassword" value="" />
  <add key="EmailSmtpHost" value="" />
  <add key="EmailSmtpPort" value="" />
  
  <!-- Other Settings -->


  <!-- Native Setting -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>