<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="Log" xsi:type="File" fileName="${logDirectory}/Log.txt" />
    <target name="ELog" xsi:type="File" fileName="${logDirectory}/ELog.txt"/>
  </targets>

  <rules>
    <logger name="Common.Loggers.AppLogger" minlevel="Debug" writeTo="ELog" />
    <logger name="Common.Loggers.DataLogger" minlevel="Info" writeTo="Log" />
  </rules>
</nlog>
